{{define "main"}}

<div class="container">
	<div class="row">
		<div class="col-4 d-none d-lg-block p-4">
			<picture>
				<source srcset="/images/gsoc.svg" media="(prefers-color-scheme: dark)">
				<img class="img-fluid" alt="{{ i18n "home.gsoc.alt" }}"
					src="/images/gsoc.svg">
			</picture>
		</div>

		<div class="col">
			<h2>{{ i18n "home.gsoc" }}</h2>
			{{ .Content }}
			<div class="pt-4">
				<a href="https://summerofcode.withgoogle.com/" class="btn btn-primary">Home</a>
			</div>
		</div>
	</div>
</div>
{{end}}
