<div class="timeline-wrapper {{.Get "invertedText"}}" >
  <div class="timeline-badge"></div>
  <div class="timeline-panel">
    <div class="timeline-heading">
      <h6 class="timeline-title">{{.Get "title"}}</h6>
    </div>
    {{ .Inner}}
    <div class="timeline-footer d-flex align-items-center flex-wrap">
      <i class="mdi mdi-heart-outline text-muted mr-1"></i>
      <span class="ml-md-auto font-weight-bold">{{.Get "date"}}</span>
    </div>
  </div>
</div>
